<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Payment Form</title>
</head>
<body>
  <form action="/charge" method="post" id="payment-form">
    <div class="form-row">
      <label for="card-element">
        Credit or debit card
      </label>
      <div id="card-element">
        <!-- A Stripe Element will be inserted here. -->
      </div>
  
      <!-- Used to display Element errors. -->
      <div id="card-errors" role="alert"></div>
    </div>
  
    <button type="submit">Submit Payment</button>
  </form>

  <script src="https://js.stripe.com/v3/"></script>
  <script>
    const stripe = Stripe('pk_test_51PEVC3SJ3MorEbHb72JpCxl0A2lJ0Agc9LwUHkRUELZDe6SrGJAxaUdkEberavMrcEQS3jelhaoXcdF9XqwFKCTP00exz2S8MQ'); // Replace 'YOUR_PUBLIC_KEY' with your actual Stripe public key

    const elements = stripe.elements();
    const cardElement = elements.create('card');

    cardElement.mount('#card-element');

    const form = document.getElementById('payment-form');
    form.addEventListener('submit', async (event) => {
      event.preventDefault();

      const { token, error } = await stripe.createToken(cardElement);

      if (error) {
        const errorElement = document.getElementById('card-errors');
        errorElement.textContent = error.message;
      } else {
        const hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', 'token');
        hiddenInput.setAttribute('value', token.id);

        form.appendChild(hiddenInput);
        form.submit();
      }
    });
  </script>
</body>
</html>
